<!doctype html>
<html kang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device.width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0,
   minimum-scale=1.0">
   <title>INDEX</title>
</head>
<body>

<h1>OUR FORM EXAMPLE</h1>
<form action="/process" method="POST">
    <label for="apiVersion">APIVERSION</label>&nbsp&nbsp
    <input type="text" name="apiversion" id="apiVersion" placeholder="Enter apiversion">
    <br/>
    <br/>
    <label for="kind">KIND</label>
    <input style="margin-left:63px" type="text" name="kind" id="kind" placeholder="Enter entity kind">
    <br/>
    <br/>
    <label for="metaname">METANAME</label>
    <input style="margin-left:63px" type="text" name="metaname" id="metaname" placeholder="Enter metadata name">
    <br/>
    <br/>
    <label for="zone">ZONE</label>
    <input style="margin-left:63px" type="text" name="zone" id="zone" placeholder="Enter metadata zone">
    <br/>
    <br/>
    <label for="version">VERSION</label>
    <input style="margin-left:63px" type="text" name="version" id="version" placeholder="Enter metadata version">
    <br/>
    <br/>
    <label for="contName">CONTAINER NAME</label>
    <input style="margin-left:63px" type="text" name="contName" id="contName" placeholder="Enter container name">
    <br/>
    <br/>
    <label for="contImage">CONTAINER IMAGE</label>
    <input style="margin-left:63px" type="text" name="contImage" id="contImage" placeholder="Enter container image">
    <br/>
    <br/>
    <label for="topicLabel">LABEL TOPIC</label>
    <input style="margin-left:63px" type="text" name="topicLabel" id="topicLabel" placeholder="Enter metadata Label topic">
    <br/>
    <br/>
    <label for="chapterLabel">LABEL CHAPTER</label>
    <input style="margin-left:63px" type="text" name="chapterLabel" id="chapterLabel" placeholder="Enter metadata Label chapter">
    <br/>
    <br/>
    <label for="contPort">CONTAINER PORT</label>
    <input style="margin-left:63px" type="number" name="contPort" id="contPort" placeholder="Enter container port">
    <br/>
    <br/>
    {{/* <button id="generate">submit</button> */}}
    <input type="submit">


</form>

</body>
</html>