<!doctype html>
<html kang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device.width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0,
   minimum-scale=1.0">
   <title>PROCESSOR</title>
</head>
<body>




<pre>{{.YamlData}}</pre>
</form>

<script>


console.log({{.YamlData}});

</script>



</body>
</html>